.dashboard{
  height: 100vh;
  background-color: azure;
}

.content {
  padding: 200px 100px;
  height: 100%;
}

.search-fields-container{
  display: flex;
  flex: 1;
  justify-content: space-evenly;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.table-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}